<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <script src="/autocomplete/jquery.js"></script>
    <script src="/autocomplete/facebook-friend-autocomplete.js"></script>
    <link rel="stylesheet" href="/autocomplete/facebook-friend-autocomplete.css">
  </head>
  <body>
    <div id="left_panel">
      <header>
        <hgroup>
          <h1><%= title %></h1>
          <h2>The belief in <%= title %></h2>
        </hgroup>
        <section id="navigation_parent">
        <% if (content.authenticated) { %>
          <%- include generic/in/header.ejs %>
        <% } else { %>
          <%- include generic/out/header.ejs %>
        <% } %>
        </section>
      </header>
      <footer>
        <%- include generic/out/footer.ejs %>
      </footer>
    </div>
    <div id="right_panel">
      <main>
    <% if (content.base == 'transfer') { %>
      <%- include transfer/index.ejs %>
    <% } else if (content.base == 'history') { %>
      <%- include history/index.ejs %>
    <% } else { %>
      <%- include liftoff/index.ejs %>
    <% } %>
      </main>
    </div>
  </body>
</html>