<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>  

  <script src="/socket.io/socket.io.js"></script>
  
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta content="utf-8" http-equiv="encoding">
    <title>BitBox - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/toggle-switch.css' />
<meta name="viewport" content="width=max-device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/jquery-cookie/jquery.cookie.js"></script>
    <script src="/fb-autocomplete/facebook-friend-autocomplete.js"></script>
    <% if (authenticated) { %>
        <%- include generic/in/scripts.ejs %>
    <% } %>
    <link rel="stylesheet" href="/fb-autocomplete/facebook-friend-autocomplete.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>  
    <div data-spy="affix" data-offset-top="50" class="navbar navbar-bitbox navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="glow">&nbsp;</div>
          <img class="cropped" id="BitBox" src="/BitBox.png" />
          <a class="navbar-brand" href="/transfer/pay">BitBox</a>
        </div> 
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if (authenticated) { %>
              <%- include generic/in/header.ejs %>
            <% } else { %>
              <%- include generic/out/header.ejs %>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <!--<div id="main" style="display: none">-->
    <div id="main">
    <% if (base == 'index') { %>
      <% if (view == 'index') { %>
        <div class="jumbotron">
          <h1>Bitcoin. Gone social.</h1>
          <p class="lead">Welcome to BitBox, a revolutionary peer-to-peer payment platform.</p>
          <p><a class="btn btn-lg btn-success" href="/liftoff/login/facebook" role="button">Request Early Access</a></p>
        </div>
      <% } else if (view == 'lobby') { %>
        <div class="jumbotron">
          <h1>We'll be in touch.</h1>
          <p class="lead">Thank you for your interest in BitBox.</p>
          <div>
            <label for="fb-user">Got Friends?</label><br>
            <div id="wrapapa">
              <input type="text" id="fb-user" style="width: 20em; padding: 10px" autocomplete="off" placeholder="friend name"/>
            </div>
          </div>
          <input type="hidden" name="facebook_id" id="friend_fbid" value="" />
          <div style="clear: both;">
          </div>
          <%- include lobby/autocomplete.ejs %>
        </div>
      <% } %>
      <%- include liftoff/index.ejs %>
    <% } else if (base == 'transfer') { %>      
      <%- include transfer/index.ejs %>
    <% } else if (base == 'beta') { %>
      <%- include beta/signUp.ejs %>
    <% } else if (base == 'accounts') { %>      
      <%- include accounts/index.ejs %>
    <% } %> 
    </div>   
    <script>$("#BitBox").click(function() {$("body").scrollTop(0);});</script>
    <% if (authenticated) { %>
      <%- include generic/in/nav-scripts.ejs %>
      <!--%- include generic/in/notification-scripts.ejs %-->
      <script src='/javascripts/connect.js'></script>
    <% } %>
  </body>
</html>
