<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <!--<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>  -->

  <script src="/socket.io/socket.io.js"></script>
  
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta content="utf-8" http-equiv="encoding">
    <title>BitBox - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/carousel.css' />
    <link rel='stylesheet' href='/stylesheets/toggle-switch.css' />
    <link rel='stylesheet' href='/bootstrap/bootstrap-dialog.min.css' />
    <link rel='stylesheet' href='/ladda/ladda-themeless.min.css' />
<meta name="viewport" content="width=max-device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <script src="/jquery-cookie/jquery.cookie.js"></script>
    <script src="/fb-autocomplete/facebook-friend-autocomplete.js"></script>
    <script src="/bootstrap/bootstrap-dialog.min.js"></script>
    <script src="/ladda/spin.min.js"></script>
    <script src="/ladda/ladda.min.js"></script>
    <% if (authenticated) { %>
        <%- include generic/in/scripts.ejs %>
    <% } %>
    <link rel="stylesheet" href="/fb-autocomplete/facebook-friend-autocomplete.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>  
    <div data-spy="affix" data-offset-top="50" class="navbar navbar-bitbox navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="cropped">
            <div id="noti_wrapper" class="dropdown-toggle nav-element" <% if (authenticated) { %> data-toggle="dropdown"<% } %>>
              <div class="glow">&nbsp;</div>
              <a href="#" >
                <img src="/BitBox.png" />
                <div id="noti_bubble" class="noti_bubble_hidden"></div> 
              </a>
            </div>
            <ul id="notis" class="dropdown-menu dropdown-notifications">
            </ul>
          </div>
          <a class="navbar-brand" href="/transfer/pay">BitBox</a>
        </div> 
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if (authenticated) { %>
              <%- include generic/in/header.ejs %>
            <% } else { %>
              <%- include generic/out/header.ejs %>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <div id="main" style="display: none">
    <% if (base == 'index') { %>
      <%- include liftoff/index.ejs %>
    <% } else if (base == 'transfer') { %>      
      <%- include transfer/index.ejs %>
    <% } else if (base == 'beta') { %>
      <%- include beta/signUp.ejs %>
    <% } else if (base == 'accounts') { %>      
      <%- include accounts/index.ejs %>
    <% } %> 
    </div>   
    <script>$("#BitBox").click(function() {$("body").scrollTop(0);});</script>
    <% if (authenticated) { %>
      <%- include generic/in/nav-scripts.ejs %>
      <!--%- include generic/in/notification-scripts.ejs %-->
      <script src='/javascripts/connect.js'></script>
    <% } %>
  </body>
</html>
