  
<style>
  .bold {
    font-weight: bold;
    padding-top: 10px;
  }
  div.history h5 {
    text-align: left;
  }

</style>
<div class="history"> 
  <h4 style="text-align: left;"><%= transaction.source_name %> to <%= transaction.destination_name %>: <span class="currency"><%= transaction.amount %></span>&nbsp;<span class="denomination">Satoshi</span></h4>
  <% if (transaction.memo.length > 0) { %><h5 style="text-align: left;"><i>"<%= transaction.memo %>"</i></h5><% } %>
  <BR>
  <div class="table-responsive">
    <table class="table" style="max-width: 480px;">
      <tr style="background-color: #f9f9f9;">
        <th>Date</th>
        <th>Status</th>
      </tr>
    <% for (var i = 0; i < transaction.history.length; ++i) { %>
      <tr>
        <td class="time"><%= transaction.history[i].generated %></td>
        <td><%= transaction.history[i].status %></td>
      </tr>
    <% } %>
    </table>
  </div>
  <br>
  <% if (transaction.status == 'Canceled') { %>
  <% } else if (transaction.status == 'Pending') { %>
  <% } else if (transaction.status == 'Complete' && !is_source) { %>    
    <form name="approve" action="/transfer/track/<%= transaction.uuid %>/refund" method="POST">
      <p>
        <input type="submit" class="btn btn-lg btn-success" role="button" name="form-submit" value="Refund"></input>
      </p>
    </form>
  <% } else if (transaction.status == 'Requested' && is_source) { %>
    <form name="approve" action="/transfer/track/<%= transaction.uuid %>/approve" method="POST">
      <p>
        <input type="submit" class="btn btn-lg btn-success" role="button" name="form-submit" value="Approve"></input>
      </p>
    </form>
    <br>
    <form name="decline" action="/transfer/track/<%= transaction.uuid %>/decline" method="POST">
    <p>
        <input type="submit" class="btn btn-lg" role="button" name="form-submit" value="Decline"></input>
    </p>
    </form>
  <% } else if (transaction.status == 'Requested' && !is_source) { %>
    <form name="approve" action="/transfer/track/<%= transaction.uuid %>/cancel" method="POST">
      <p>
        <input type="submit" class="btn btn-lg" role="button" name="form-submit" value="Cancel"></input>
      </p>
    </form>
  <% } else if (transaction.status == 'Refunded') { %>
  <% } else if (transaction.status == 'Declined') { %>
  <% } %>

  <% if (transaction.type == 'Payment') { %>
  <% } else if (transaction.type == 'Deposit') { %>
      <h5>Confirmations</h5>
      <h5><%= transaction.confirmations %></h5>
  <% } else if (transaction.type == 'Withdrawal') { %>
      <h5>Confirmations</h5>
      <h5><%= transaction.confirmations %></h5>
  <% } %>
</div>