<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li <% if (view == "pay") {%>class="active"<% } %>><a href="/transfer/pay">Pay</a></li>
          <li <% if (view == "track") {%>class="active"<% } %>><a href="/transfer/track">Track</a></li>
          <li <% if (view == "deposit") {%>class="active"<% } %>><a href="/transfer/deposit">Deposit</a></li>
          <li <% if (view == "withdraw") {%>class="active"<% } %>><a href="/transfer/withdraw">Withdraw</a></li>
        </ul>
      </div>
    <ul class="nav nav-sidebar mobile">
      <li <% if (view == "pay") {%>class="active"<% } %>><a href="/transfer/pay#action">Pay</a></li>
      <li <% if (view == "track") {%>class="active"<% } %>><a href="/transfer/track#action">Track</a></li>
      <li <% if (view == "deposit") {%>class="active"<% } %>><a href="/transfer/deposit#action">Deposit</a></li>
      <li <% if (view == "withdraw") {%>class="active"<% } %>><a href="/transfer/withdraw#action">Withdraw</a></li>
    </ul>
  <hr id="action" class="mobile" style="padding-top: 50px;">
  <h2 id="track-balance" style="text-align: left">Balance: <span class="currency"><%= balance %></span> <span class="denomination">Satoshi</span></h2>
    <% if (view == 'pay') { %>
      <%- include pay.ejs %>
    <% } else if (view == 'track') { %>
      <%- include track/index.ejs %>
    <% } else if (view == 'withdraw') { %>
      <%- include withdraw.ejs %>
    <% } else if (view == 'deposit') { %>
      <%- include deposit.ejs %>
    <% } %> 
    </div>
  </div>
</div>
