  <h1><%= header %></h1>     
  <% if (ok != 'error') { %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= from %></th>
            <th><%= type %></th>
            <th><%= to %></th>
            <th><%= status %></th>
            <th><%= gross %></th>
            <th><%= date %></th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < data.length; i++) { %>
              <tr>
                <td> <%= data[i].src %> </td>
                <td> <%= data[i].type %> </td>
                <td> <%= data[i].dst %> </td>
                <td> <%= data[i].status %> </td>                
                <td> BTC <%= data[i].bits %> </td>
                <td> <%= data[i].submitted %> </td>
              </tr>
          <% } %>        
        </tbody>
      </table>
    </div>  
  <% } else { %>
    <div class="alert alert-danger"><strong>We are sorry!</strong>  your request couldn't be completed please try later</div>
  <% } %> 
