  <h1><%= header %></h1>  
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= col1 %></th>
          <th><%= col2 %></th>
          <th><%= col3 %></th>
          <th><%= col4 %></th>
          <th><%= col5 %></th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < transactions.length; i++) { %>
            <tr>
              <% for(var j=0; j < transactions[i].length; j++) { %>
                <td> <%= transactions[i][j] %> </td>
              <% } %>
            </tr>
        <% } %>        
      </tbody>
    </table>
  </div>
