<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>With</th>
        <th>Action</th>
        <th>Status</th>
        <th>Gross</th>
        <th>Memo</th>
        <th>Date</th>
        <th>Confirmations</th>
      </tr>
    </thead>
    <tbody>
    <% for(var i=0; i < history.length; i++) {%>
      <tr>
        <td><%= history[i].whom %></td>
        <td><%= history[i].action %></td>
        <td><%= history[i].status %></td>
        <td><%= history[i].amount %> Bits</td>
        <td><%= history[i].memo %></td>
        <td><%= history[i].date %></td>
        <td><%= history[i].confirmations %></td>
      </tr>
    <% } %>
    </tbody>
  </table>
</div>
